header .banner img{
    width: 70px; 
    height: 100PX;
}

header .banner {
    display: flex;
    flex-direction: row;
    height: 120px;
}

table {
    border: 1px solid black;
    width: 20%;
    height: 75px;
    
}

h1{
    margin-right: 1170px;
}
a{
    text-decoration: none;
    color:black;
}
#table1{
    background-color: #007bff;
}
#table2{
    background-color: #007bff;
}
.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
}

.round1 {
    margin-right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    border-color: rgb(69, 188, 235);
}
.banner div{
    margin: 4px;
}

.form{
    display: flex;
    flex-direction: row;
    margin-left: 600px;
    margin-bottom:20px;

}